html, 
body {
    height: 100%;
    background-color: black;
}
body,
input {
    font-family: Montserrat;
    color: white;
}
#intro {
    position: relative;
    height: auto;
    overflow: hidden;
    z-index: 1;
}
#skills .items{
    width:25%;     
    display: block;     
    padding: 4px;     
    margin-bottom: 20px;     
    line-height: 1.42857143;     
    background-color: #fff;     
    border: 1px solid #ddd;     
    border-radius: 4px;     
    float:left;     
    margin-left:1%;
    
}
#skills img .thumbnail{
 display: block;     
}
#skills img .caption{
  color:#000;    
  padding:0px 10px 10px;     
  font-weight: bold;     
  text-align: center; 
}
#contact form input {
    color: black;
    font-weight: bold;
}
#footer .jumbotron{
    background-color: yellow;
} 
#footer .jumbotron .row {
    color: black;
    text-align: center;
}
#footer .jumbotron .row .socials a {
    color: black;
    text-align: center;
    display: inline-block;
    padding: 6px;
    width: 50px;
    height: 50px;
    line-height: 1.25;
    border: 2px solid black;
    border-radius: 100%;
    margin: 0 10px;
    transition: all 0.15s linear;
    transform: scale(1);
}

section {
    margin-bottom: 25px;
}
section h3 {
    text-align: center;
    line-height: 1;
    padding-bottom: 11px;
    border-bottom: 2px solid #ccf;
}
